<h1> <%= @article.title %> </h1>
<p> <%= @article.text %> </p>

<%= link_to "Показать все статьи", articles_path %>

<h2>Comments</h2>
<hr>
<% @article.comments.each do |comment| %>
	<i><%= comment.author %>: </i> 
	<%= comment.body %> <br><hr>
<% end %>

<h2>Add comment</h2>

<%= form_for([@article, @article.comments.build]) do |f| %>

  <p><%= f.label :author %>
  <%= f.text_field :author %></p>

  <p><%= f.label :body %>
  <%= f.text_area :body %></p>

  <p><%= f.submit %></p>
<% end %>